@font-face {
    src: url(/fonts/ebgaramondmedium.woff2);
    font-family: 'EB Garamond medium';
}

@font-face {
    src: url(fonts/ebgaramondregular.woff2);
    font-family: 'EB Garamond regular';
}

@font-face {
    src: url(fonts/interregular.woff2);
    font-family: 'Inter regular';
}

@font-face {
    src: url(fonts/interbold.woff2);
    font-family: 'Inter bold';
    font-weight: bold;
}


@font-face {
    src: url(/fonts/ebgaramondmedium.woff);
    font-family: 'EB Garamond medium';
}

@font-face {
    src: url(fonts/ebgaramondregular.woff);
    font-family: 'EB Garamond regular';
}

@font-face {
    src: url(fonts/interregular.woff);
    font-family: 'Inter regular';
}

@font-face {
    src: url(fonts/interbold.woff);
    font-family: 'Inter bold';
    font-weight: bold;
}


@font-face {
    src: url(/fonts/ebgaramondmedium.ttf);
    font-family: 'EB Garamond medium';
}

@font-face {
    src: url(fonts/ebgaramondregular.ttf);
    font-family: 'EB Garamond regular';
}

@font-face {
    src: url(fonts/interregular.ttf);
    font-family: 'Inter regular';
}

@font-face {
    src: url(fonts/interbold.ttf);
    font-family: 'Inter bold';
    font-weight: bold;
}